body {
  margin: var(--size-4);
}

.blue-0,
.blue-1,
.blue-2,
.blue-3 {
  color: var(--blue-9);
}
.blue-4,
.blue-5,
.blue-6,
.blue-7,
.blue-8,
.blue-9 {
  color: var(--blue-0);
}

.blue-0 {
  background-color: var(--blue-0);
}
.blue-1 {
  background-color: var(--blue-1);
}
.blue-2 {
  background-color: var(--blue-2);
}
.blue-3 {
  background-color: var(--blue-3);
}
.blue-4 {
  background-color: var(--blue-4);
}
.blue-5 {
  background-color: var(--blue-5);
}
.blue-6 {
  background-color: var(--blue-6);
}
.blue-7 {
  background-color: var(--blue-7);
}
.blue-8 {
  background-color: var(--blue-8);
}
.blue-9 {
  background-color: var(--blue-9);
}
